<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<script>document.title = "Admin panel"</script>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container-fluid vh-100" id="generaldiv">
    <div class="row vh-100">
        <div class="col-2 vh-100 mx-0 px-0">
            <div id="list-group" class="list-group"></div>
        </div>
        <div id="main-content" class="col-10 bg-body-tertiary vh-100"></div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body text-center">
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>